# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCW5MfOE9l3H7YovEuwtCQX_zx78EZAh_Q
VITE_FIREBASE_AUTH_DOMAIN=pending-9c992.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pending-9c992
VITE_FIREBASE_STORAGE_BUCKET=pending-9c992.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=873147040233
VITE_FIREBASE_APP_ID=1:873147040233:web:cb52cda41b770e20560b78
VITE_FIREBASE_MEASUREMENT_ID=G-0Y1TL217GK

# Backend API URL (Update this after deploying backend)
VITE_API_URL=http://localhost:3001/api
